@page "/chat"
@using System.Data
@rendermode InteractiveServer


<PageTitle>Chat</PageTitle>

<h3>Chat</h3>


<div class="chat-messages">
    @foreach (var inputmessage in mychat.Messages)
    {
        <div class="chat-message">
            <span class="message-date">@inputmessage.Date:</span>
            <span class="message-sender">@inputmessage.Sender.Name</span>
            @inputmessage.TextMessage
        </div>
    }
</div>

@if (!isUserNameSet)
{
    <div>
        <input type="text" placeholder="Enter your username" @bind="newUserName" />
        <button @onclick="SetUserName">"Set Username"</button>
    </div>
}
else
{
    <div>
        <input type="text" placeholder="Enter your username" @bind="newUserName" />
        <button @onclick="SetUserName">Set Username</button>
    </div>
}


<input type="text" placeholder="Write your message" @bind="newInputMessage" />
<button @onclick="AddInputMessage">Send message</button>

@code {
    public string? newUserName;
    public string? newInputMessage;
    public bool isUserNameSet = false;
    public User? currentUser;
    public Chat mychat;
    public int mychatId = 1;


    protected override void OnInitialized()
    {
        mychat = new Chat();
        LoadData(mychatId);
    }

    public void LoadData(long chatId)
    {
        System.Data.DataTable dt = DataBase.Fetchmessages(chatId);

        foreach (DataRow row in dt.Rows)
        {
            User user = new User(row["username"].ToString());
            string TextMessage = row["message"].ToString();
            User Sender = user;
            long ChatID = Convert.ToInt64(row["chat_id"]);
            DateTime Date = (DateTime)row["message_sent"];
            string ChatName = row["chatname"].ToString(); 
            Message messageFromRow = new Message(Sender, TextMessage, ChatName, ChatID, Date);
            mychat.Messages.Add(messageFromRow);
            mychat.Users.Add(user);
        }    
    }


    public void SetUserName()
    {
        if (!string.IsNullOrWhiteSpace(newUserName))
        {
            currentUser = new User(newUserName);
            isUserNameSet = true;
            newUserName = string.Empty;
        }
    }

    public void AddInputMessage()
    {
        if (currentUser != null && !string.IsNullOrWhiteSpace(newInputMessage))
        {
            long mychatId = DataBase.CheckChatTable("mychat");
            long userId = DataBase.CheckUserTable(currentUser.Name);

            mychat.CreateMessage(currentUser, newInputMessage, "mychat", mychatId, DateTime.Now);

            string generatedSqlString = DataBase.GenerateSqlString("mychat", currentUser.Name, "messageText");
            DataBase.RunTransaction(generatedSqlString, userId, newInputMessage, mychatId);

            newInputMessage = string.Empty;
        }
    }
}
