@page "/chat"
@using System.Data
@rendermode InteractiveServer


<PageTitle>Chat</PageTitle>

<h3>Chat</h3>


<div class="chat-messages">
    @foreach (var inputmessage in mychat.Messages)
    {
        <div class="chat-message">
            <span class="message-date">@inputmessage.Date:</span>
            <span class="message-sender">@inputmessage.Sender.Name</span>
            @inputmessage.TextMessage
        </div>
    }
</div>


<input type="text" placeholder="Write your message" @bind="newInputMessage" />
<button @onclick="AddInputMessage">Send message</button>


<select @bind="selectedUser">
    <option value="user1">Pippi</option>
    <option value="user2">Tommy</option>
    <option value="user3">Annika</option>
</select>


@code {
    User user1 = new User("Pippi");
    User user2 = new User("Tommy");
    User user3 = new User("Annika");
    User user4 = new User("Llama");

    public List<User> userList = new List<User>
    {
    new User("Pippi"),
    new User("Tommy"),
    new User("Annika"),
    new User("Llama"),
    };

    public string? newInputMessage; 
    public string selectedUser = "user1"; 

    public Chat mychat;

    public int mychatId = 1;

    protected override void OnInitialized()
    {
        userList = new List<User> { user1, user2, user3, user4 };
        mychat = new Chat();
        LoadData(mychatId);
    }
    public void LoadData(long chatId)
    {
        System.Data.DataTable dt = DataBase.Fetchmessages(chatId);

        foreach (DataRow row in dt.Rows)
        {
            User user = new User(row["username"].ToString());

            string TextMessage= row["message"].ToString();
            User Sender = user;
            long ChatID = Convert.ToInt64(row["chat_id"]);
            DateTime Date = (DateTime)row["message_sent"];
            string ChatName = row["chatname"].ToString(); 
            Message messageFromRow = new Message(Sender, TextMessage, ChatName, ChatID, Date);
            mychat.Messages.Add(messageFromRow);
            mychat.Users.Add(user);
        }    
    }
    


    public void AddInputMessage()
    {
        if (!string.IsNullOrWhiteSpace(newInputMessage))
        {
            User currentUser = selectedUser == "user1" ? user1 :
                               selectedUser == "user2" ? user2 :
                               user3;
            long mychatId = DataBase.CheckChatTable("mychat");
            long userId = DataBase.CheckUserTable(currentUser.Name);

            mychat.CreateMessage(currentUser, newInputMessage, "mychat", mychatId, DateTime.Now);

            string generatedSqlString = DataBase.GenerateSqlString("mychat", currentUser.Name, "messageText");

            DataBase.RunTransaction(generatedSqlString, userId, newInputMessage, mychatId);

                newInputMessage = string.Empty;   
        }
    }
}
